body {
    margin: 20px;
    background-color: #d1dedd;
}

h1, h2, h3 {
    color: #767f7e;
}

p {
    color: #828b8a;
}

header {
    max-width: 1200px;
    margin: 4px auto;
    border-bottom: 1px solid #bbc7c7;
}

.grid-container {
    display: grid;
    grid-template: 1fr 1fr 1fr;
    gap: 60px;
    max-width: 1200px;
    margin: 20px auto;
    
}